body{
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: top;
   background-image:url(http://bit.ly/2gPLxZ4);
   width: 100%;
   height: 100%;
   font-family: Arial, Helvetica;
   letter-spacing: 0.02em;
    font-weight: 400;
   -webkit-font-smoothing: antialiased; 
}


.Time-container{
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-radius: 10px;
margin-top: 20px;
animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}
.container{
   overflow: hidden;
   margin-top: 20px;
   -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
   animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes container {
   0% {
     -webkit-filter: blur(12px);
             filter: blur(12px);
     opacity: 0;
   }
   100% {
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 @keyframes text-focus-in {
   0% {
     -webkit-filter: blur(12px);
             filter: blur(12px);
     opacity: 0;
   }
   100% {
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }



img{
   height: 80px;
   width: 100px;
   border-radius: 10px;
}

.card-body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-body:hover{
   border: solid red;

}
.card-title1:hover{
   cursor: pointer;
   color: red;
}
.card-title2:hover{
   cursor: pointer;
   color: red;
}

.card-title3:hover{
   cursor: pointer;
   color: red;
}
.card-title4:hover{
   cursor: pointer;
   color: red;
}
.description1 {
display: none;
   background: white;
   -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
   animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes description1 {
   0% {
     -webkit-filter: blur(12px);
             filter: blur(12px);
     opacity: 0;
   }
   100% {
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 @keyframes text-focus-in {
   0% {
     -webkit-filter: blur(12px);
             filter: blur(12px);
     opacity: 0;
   }
   100% {
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }





.description2 {
   display: none;
   background:blueviolet ;
   transition: ease-in-out;
   -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
   animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes description2 {
   0% {
     -webkit-filter: blur(12px);
             filter: blur(12px);
     opacity: 0;
   }
   100% {
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 @keyframes text-focus-in {
   0% {
     -webkit-filter: blur(12px);
             filter: blur(12px);
     opacity: 0;
   }
   100% {
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }

 .description3 {
   display: none;
   background:chartreuse ;
   transition: ease-in-out;
   -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
   animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes description3 {
   0% {
     -webkit-filter: blur(12px);
             filter: blur(12px);
     opacity: 0;
   }
   100% {
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 @keyframes text-focus-in {
   0% {
     -webkit-filter: blur(12px);
             filter: blur(12px);
     opacity: 0;
   }
   100% {
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 .description4 {
   display: none;
   background:brown ;
   transition: ease-in-out;
   -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
   animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes description4 {
   0% {
     -webkit-filter: blur(12px);
             filter: blur(12px);
     opacity: 0;
   }
   100% {
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 @keyframes text-focus-in {
   0% {
     -webkit-filter: blur(12px);
             filter: blur(12px);
     opacity: 0;
   }
   100% {
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }


 .profileDescription{
   align-items: center;
   border-radius: 20px;
   font-family: 'Courier New', Courier, monospace;
   margin: 200px;
   margin-top: 20px;
   width: 500px;
   display: none;
   background-color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
   animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
 }
 @-webkit-keyframes profileDescription {
   0% {
     -webkit-filter: blur(12px);
             filter: blur(12px);
     opacity: 0;
   }
   100% {
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }
 @keyframes text-focus-in {
   0% {
     -webkit-filter: blur(12px);
             filter: blur(12px);
     opacity: 0;
   }
   100% {
     -webkit-filter: blur(0px);
             filter: blur(0px);
     opacity: 1;
   }
 }

#Profile{
   cursor: pointer;
}

.carousel-inner{
display: flex;
width: 60%;
margin-left: 800px ;
width: 500px;
height: 800px;
margin-right: 300px;
}

